on: [ workflow_dispatch ]
jobs:
  kernel:
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v3
      - name: sudo apt -yqq update && sudo apt -yqq install
        run: sudo apt -yqq update && sudo apt -yqq install python3 bison flex make gcc g++ wget curl git
      - name: toolchain
        run: |
          cd Kernel
          mkdir toolchain
          mkdir toolchain/gcc
          mkdir toolchain/gcc/linux-x86
          mkdir toolchain/gcc/linux-x86/aarch64
          mkdir toolchain/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
          cd toolchain/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
          curl https://github.com/ch1p2/SM-F700N_KOR_12_Opensource/releases/download/v0.0.0-toolchain/aarch64-linux-android-4.9-0a0604336d4d1067aa1aaef8d3779b31fcee841d.tar.gz | gunzip | tar x
          cd ../../../../..
          curl https://github.com/ch1p2/SM-F700N_KOR_12_Opensource/releases/download/v0.0.0-toolchain/toolchain.tar.gz | gunzip tar x
          
      - name: make_kernel
        run: |
          cd Kernel
          #dd if=../Makefile.wno-error of=./Makefile
          dd if=../config_docker of=./arch/arm64/configs/bloomq_kor_single_defconfig
          export PATH="$HOME/proton-clang/bin:$PATH"
          export CC=clang
          export CROSS_COMPILE=aarch64-linux-gnu-
          export ARCH=arm64
          mkdir out
          BUILD_CROSS_COMPILE=$(pwd)/toolchain/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/bin/aarch64-linux-android-
          KERNEL_LLVM_BIN=$(pwd)/prebuilts-master/clang/host/linux-x86/clang-r416183b/bin/clang
          CLANG_TRIPLE=aarch64-linux-gnu-
          KERNEL_MAKE_ENV="DTC_EXT=$(pwd)/tools/dtc CONFIG_BUILD_ARM64_DT_OVERLAY=y"
          make -j8 -C $(pwd) O=$(pwd)/out $KERNEL_MAKE_ENV ARCH=arm64 CROSS_COMPILE=$BUILD_CROSS_COMPILE REAL_CC=$KERNEL_LLVM_BIN CLANG_TRIPLE=$CLANG_TRIPLE bloomq_kor_single_defconfig
          make -j8 -C $(pwd) O=$(pwd)/out $KERNEL_MAKE_ENV ARCH=arm64 CROSS_COMPILE=$BUILD_CROSS_COMPILE REAL_CC=$KERNEL_LLVM_BIN CLANG_TRIPLE=$CLANG_TRIPLE
          cp out/arch/arm64/boot/Image $(pwd)/arch/arm64/boot/Image
          mv out/source ~
          cd ..
      
      - name: artifact
        uses: actions/upload-artifact@v3
        with:
          name: out
          path: Kernel/out
          retention-days: 1
